{% extends 'referent/_layout.html.twig' %}

{% block referent_content %}
    <div class="l__wrapper--slim">
        {{ form_start(form_referent_person_link) }}
            {{ form_widget(form_referent_person_link) }}

            <div class="form__row text--center b__nudge--top">
                <button type="submit" class="btn btn--blue btn--medium b__nudge--bottom-huge">Enregister</button>
            </div>
        {{ form_end(form_referent_person_link) }}
    </div>
{% endblock %}
