{% extends 'referent/_layout.html.twig' %}

{% import _self as orga %}

{% macro orga_chart_row(items) %}
<ol>
    {% for item in items %}
        <li>
            {{ orga.orga_chart_item(item) }}
        </li>
    {% endfor %}
</ol>
{% endmacro %}

{% macro orga_chart_item(item) %}
    <div>
        <h{{ item.level }}>{{ item.label }}</h{{ item.level }}>
    </div>
{% endmacro %}

{% block referent_content %}
    <h3 class="text--center">Equipe départementale</h3>
    <ol class="organizational-chart">
        <li>
            <div>
                <h1>Primary</h1>
            </div>
            <div>
                <h1>Primary</h1>
            </div>
            <ol>
                <li>
                    <div>
                        <h2>Secondary</h2>
                    </div>
                    <ol>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                            <ol>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                    <ol>
                                        <li>
                                            <div>
                                                <h5>Quinary</h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h5>Quinary</h5>
                                            </div>
                                            <ol>
                                                <li>
                                                    <div>
                                                        <h6>Senary</h6>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                    </ol>
                </li>
                <li>
                    <div>
                        <h2>Secondary</h2>
                    </div>
                    <ol>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                            <ol>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <div>
                        <h2>Secondary</h2>
                    </div>
                    <ol>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                            <ol>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                    <ol>
                                        <li>
                                            <div>
                                                <h5>Quinary</h5>
                                            </div>
                                            <ol>
                                                <li>
                                                    <div>
                                                        <h6>Senary</h6>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div>
                                                        <h6>Senary</h6>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <div>
                                                <h5>Quinary</h5>
                                            </div>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                    </ol>
                </li>
                <li>
                    <div>
                        <h2>Secondary</h2>
                    </div>
                    <ol>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                            <ol>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h4>Quaternary</h4>
                                    </div>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>Tertiary</h3>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
{% endblock %}
